    <section id="featured-items" class="clearfix">
        <ul>
           <% @featured_products.sort{|a,b| a.created_at <=> b.created_at}.each_with_index do |product, index| %>
             <%index += 1%>
             <li class="item <%= index % 3 == 0 ? "last-in-row" : "" %>" >
                    <%= link_to product do %>
                            <img class="photo" src="/assets/<%=product.images.split(',')[0]%>">
                            <header><%= product.title %></header>
                            <section><td><%= raw(product.short) %></td></section>
                   <%end%>

             </li>
                <% end %>
        </ul>
      
</section>
<section class="additional-items" class="clearfix">
  <h1>Additional Items</h1>
  <ul>
    <% @regular_products.sort{|a,b| a.created_at <=> b.created_at}.each_with_index do |product, index| %>
      <%index += 1%>
      <li class="item <%= index % 4 == 0 ? "last-in-row" : "" %>" >
        <%= link_to product do %>
          <img class="photo" src="/assets/<%=product.images.split(',')[0]%>">
          <header><%= product.title %></header>
          <section><%= raw(product.short) %></section>
        <%end%>
      </li>
    <% end %>
  </ul>
</section>