<form id="item" class="add-to-cart clearfix">
  <section id="item-information">
          <header class="clearfix">
                  <h1><%= @product.title %></h1>
                  <aside>
                          <p class="availability"><%=@product.in_stock ? 'In Stock' : 'Out of Stock'%></p>
                          <input type="submit" value="Add to Cart" class="btn" >
                  </aside>
          </header>
          <%= @product.long %>
  </section>
  <aside class="clearfix">
          <%@images = @product.images.split(',')%>
          <img id="main-image" class="photo" src="/assets/<%=@images[0]%>">
          <ul class="thumbs">
            <% @images.each do |image| %>
              <li>
                <a href="/assets/<%=image%>" onclick="swap(this); return false;">
                  <img class="photo" src="/assets/<%=image%>">
                </a>
              </li>
            <%end%>
          </ul>
  </aside>
</form>
