<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>
 
<p>
  <strong>Short:</strong>
  <%= @product.short %>
</p>
<p>
  <strong>Long:</strong>
  <%= @product.long %>
</p>
 
<p>
  <strong>images:</strong>
  <%= @product.images %>
</p>
<p>
  <strong>Featured:</strong>
  <%= @product.featured %>
</p>
 
<p>
  <strong>In stock:</strong>
  <%= @product.in_stock %>
</p>
<%= link_to 'Back', products_path %>