<!DOCTYPE html>
<html>
<head>
  <title>Jacob Hooey</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49144336-3', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>
	<!--[if lte IE 8]>
		<h3>Warning! this site does not function properly on ie. The content is however still visible</h3>
	<![endif]-->
		<div id="shopify-resume" class="wrapper">
			<header id="top">
				<h1 id="site-title"><%= link_to "Jacob Hooey", root_path %></h1>

				<nav class="cart-menu">
						<ul>
							<li><%= link_to "Home", root_path %>
							<li class="checkout cart-items"><a href="#"><span id="number-of-items">0</span> items</a>
								<ul id="shopping-cart">
								</ul>
							</li>
							<li class="checkout last"><a class="btn" href="/resume/checkout">Check out</a></li>
						</ul>
				</nav>
				<!--Main navigation is not needed for this cover letter
				<nav class="header-menu">
					<ul>
						<li class="first"><a href="">Home</a></li>
						<li><a class="active" href="">More Information</a></li>
						<li class="last"><a href="">Contact Me</a></li>
					</ul>
				</nav>
				-->
			</header>
			<div class="content-wrapper">
				<div class="main-content-wrapper">

                                  <%= yield %>

                                </div>
			<aside class="sidebar">
				<section class="contact-info">
						<h1>Contact Me</h1>
						<ul>
							<li><a href="mailto:jhooey@gmail.com">jhooey@gmail.com</a></li>
							<li><a href="http://jacobhooey.com">Personal Website</li>
							<li><a href="https://github.com/jhooey/">Github Profile</a></li>
							<li><a href="http://ca.linkedin.com/in/jacobhooey">LinkedIn Profile</a></li>
						</ul>
				</section>
				<section class="additional-info">
						<h1>Additional Info</h1>
						<p>
							My-ecommerce-resume was built using the Rails 4 framework. The shopping cart functionality is powered by jQuery.
						</p>
				</section>
			</aside>

			<footer id="bottom">
				<p>
					&copy; Copyright by Jacob Hooey
				</p>
			</footer>
		</div>

		<script type="text/javascript">
	         function swap(image) {
	             document.getElementById("main-image").src = image.href;
	             document.getElementById("main-image-fullsize").href = image.href.replace('assets', 'assets/fullsize');
	         }
	     </script>

		<script>
		$(document).ready(function () {

			$('nav .checkout').hover(
				function () {
					//show its submenu
					$('ul#shopping-cart').stop().slideDown(100);

				},
				function () {
					//hide its submenu
					$('ul#shopping-cart').stop().slideUp(100);
				}
			);

		});
		</script>
	</body>
</html>
