<!DOCTYPE html>
<html>
<head>
  <title>My Shopify Resume - Jacob Hooey</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<div id="shopify-resume" class="wrapper">
			<header id="top">
				<h1 id="site-title"><%= link_to "Jacob Hooey", root_path %></h1>

				<nav class="cart-menu">
						<ul>
							<li class="checkout cart-items"><a href="#"><span id="number-of-items">0</span> items</a>
								<ul id="shopping-cart">
								</ul>
							</li>
							<li class="checkout last"><a class="btn" href="/resume/checkout">Check out</a></li>
						</ul>
				</nav>
				<!--Main navigation is not needed for this cover letter
				<nav class="header-menu">
					<ul>
						<li class="first"><a href="">Home</a></li>
						<li><a class="active" href="">More Information</a></li>
						<li class="last"><a href="">Contact Me</a></li>
					</ul>
				</nav>
				-->
			</header>
			<div class="content-wrapper">
				<div class="main-content-wrapper">
	
                                  <%= yield %>

                                </div>
			<aside class="sidebar">
				<section class="contact-info">
						<h1>Contact Me</h1>
						<ul>
							<li><a href="mailto:jhooey@gmail.com">jhooey@gmail.com</a></li>
							<li><a href="http://jacobhooey.com">Personal Website</li>
							<li><a href="https://github.com/jhooey/">Github Profile</a></li>
						</ul>
				</section>
				<!--
				<section class="additional-info">
						<h1>Additional Info</h1>
						<ul>
							<li><a href="#">Link 1</a></li>
							<li><a href="#">Link 2</a></li>
						</ul>
				</section>
				-->
			</aside>

			<footer id="bottom">
				<p>
					&copy; Copyright by Jacob Hooey
				</p>
			</footer>
		</div>
		
		<script type="text/javascript">
	         function swap(image) {
	             document.getElementById("main-image").src = image.href;
	         }
	     </script>
		
		<script>
		$(document).ready(function () {
		
			$('nav .checkout').hover(
				function () {
					//show its submenu
					$('ul#shopping-cart').stop().slideDown(100);
		
				}, 
				function () {
					//hide its submenu
					$('ul#shopping-cart').stop().slideUp(100);			
				}
			);
			
		});
		</script>
	</body>
</html>
